.gh-card {
    width: 140px;
    height: 200px;
    display: inline-block;
    border: 1px solid #e0e0ea;
    border-radius: 5px;
    padding-bottom: 10px;
    margin: 5px;
}

.gh-card:hover {
    background-color: #c0d0fa;
}

.gh-card > img {
    margin-right: 1em;
    border-radius: 50%;
}

.gh-card-data {
    padding: 5px;
}

.gh-card-data .name {
    font-size: 110%;
}

.gh-card-data .more {
    font-size: 80%
}